<header class="header">
  <section class="container flex-box">
    <div class="logo" routerLink="">
      <div class="img-logo-camera">
      </div>
      <div>
        <img src="../../assets/logo.png" alt="Logo do site">
      </div>
    </div>

    <div class="campo-busca">
      <input type="search"  name="search" placeholder="Busca">
    </div>

    <div class="box-icons-header">
      <button (click)="compartilhar()" class="icon-compartilhar"></button>
      <button class="icon-coracao"></button>
      <button class="icon-usuario"></button>
    </div>
  </section>
</header>
